* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: none;
}

body {
  font-family: "Playfair Display", serif;
  overflow-x: hidden;
}

/*Css*/

#header {
  position: relative;
}
#header h1 {
  position: absolute;
  left: 45%;
  top: 45%;
  font-size: 60px;
  color: white;
}
.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo img {
  width: 150px;
}
nav a {
  margin: 0 40px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
}
nav a:hover {
  text-decoration: underline;
}
.header-icons img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
  background: pink;
  padding: 10px;
  cursor: pointer;
}
.header-icons img:hover {
  background: white;
}

/*History 1*/

#history1-sec {
  background: #fef3f7;
}
.history-1 {
  background: fef3f7;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.history1-content {
  max-width: 500px;
  text-align: center;
}
.history1-content h2 {
  font-size: 60px;

  color: #303030;
}
.history1-content p {
  font-size: 18px;
  margin: 20px 30px;
  color: #505050;
}

.history1-img img {
  width: 600px;
}

/*about section*/
#about {
  padding: 100px 120px;
}
.about-div {
  display: flex;
  align-items: center;
  gap: 80px;
}
.about-image img {
  width: 600px;
}
.about-content {
  max-width: 500px;
  text-align: center;
}
.about-content h2 {
  font-size: 60px;
  color: #303030;
}
.about-content span {
  font-size: 60px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  color: #303030;
}
.about-content p {
  font-size: 18px;
  color: #565656;
  margin: 30px 0;
}
.about-content button {
  border: 1px solid black;
  padding: 10px 30px;
  background: transparent;
  letter-spacing: 2px;
}
.about-content button:hover {
  background-color: #000000;
  color: white;
}

/*Images Section*/

#images-bridge-sec {
  padding: 80px 10px;
}
.bridge-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.images-bridge {
  position: relative;
  width: 100%;
  height: 570px;
  overflow: hidden;
}
.images-bridge img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.overlay-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s;
}
.overlay-effect h2 {
  color: white;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: -0.2px;
}
.images-bridge:hover img {
  transform: scale(1.1);
}
.images-bridge:hover .overlay-effect {
  opacity: 1;
}

/*review section*/

#review {
  padding: 180px 80px 200px;
  text-align: center;
  position: relative;
}
.review-bridge {
  height: 350px;
  font-family: "Playfair Display", serif;
}
.review-bridge img {
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0.1;
}
.review-bridge h2 {
  font-size: 60px;
  color: #303030;
  font-weight: 800;
  margin-bottom: 20px;
}
.review-bridge p {
  font-size: 18px;
  color: #565656;
  margin-bottom: 20px;
}
.review-bridge h3 {
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 20px;
}
.review-bridge span {
  border: 1px solid black;
  padding: 10px;
  font-weight: bold;
  margin-right: 15px;
}

/*footer*/
footer {
  background: url("https://bridge248.qodeinteractive.com/wp-content/uploads/2018/06/footer-img.jpg")
    center/cover no-repeat;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-img {
  text-align: center;
  color: white;
}
.footer-img img {
  width: 150px;
  margin-bottom: 20px;
}
.footer-logo p {
  font-size: 18px;
}

.footer-icons img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
  background: pink;
  padding: 10px;
  cursor: pointer;
}
.footer-icons img:hover {
  background: white;
}

/* fixed Buttons*/
/* Container */
.floating-buttons {
  position: fixed;
  right: 0;
  top: 70%;
  transform: translateY(-50%);
  z-index: 9999;
  font-family: Arial, sans-serif;
}

/* Demo button */
.demo-btn {
  background: white;
  color: #333;
  padding: 17px 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px 0 0 4px;
  margin-bottom: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.demo-btn span {
  font-size: 12px;
  font-weight: normal;
  display: block;
}

/* Buy button */
.buy-btn {
  background: #f21e4e;
  color: white;
  padding: 17px 30px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.upward-btn {
  background: transparent;
  color: white;
  padding: 10 0;
  font-size: 14px;
  font-weight: bold;
  text-align: center;

  cursor: pointer;

  margin-top: 20px;
}
.upward-btn img {
  width: 60px;
  height: 60px;
}
